.content-box:first-child {
    align-items: center;
    width: 100%;
    padding: 0%;
    min-height: 250px;
}

.content-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.205);
    padding: 10% 0;
    position: relative;
}

.content-box__body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    width: 100%;
    padding: 0;
}

.mobile-box {
    display: none;
    width: 250px;
    padding: 0%;
    order: -2;
}

.content-box__main-img {
    background-image: url('../img/avatar.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 8px 15px 10px #1d212a;
    width: 90%;
    height: 90%;
    max-width: 250px;
    min-height: 235px;
}
