.main-nav {
    position: relative;
    width: 100%;
    display: block;
    padding-top: 0%;
    transition: 0.3s;
}

.main-nav__list {
    transform: scaleY(0);
    transition: 0.3s;
}

.main-nav:hover {
    padding-top: 1%;
    transition: 0.3s;
}

.main-nav:hover .site-list__link {
    margin: 8px auto;
    transition: 0.3s;
}

.main-nav:hover .main-nav__list {
    position: relative;
    opacity: 1;
    top: 0;
    transform: scaleY(1);
    transition: 0.3s;
}

.main-nav__wrapper {
    width: 35px;
    height: 40px;
    position: absolute;
}

.main-nav__wrapper:hover {
    cursor: pointer;
}

.main-nav__wrapper:hover .main-nav__toggle {
    transform: scale(1.08);
    cursor: pointer;
    transition: 0.5s;
}

.main-nav__wrapper:hover .main-nav__toggle_open {
    transform: scale(1.08);
    transform: rotate(45deg);
    cursor: pointer;
    transition: 0.5s;
}

.main-nav__toggle {
    display: none;
}

/* .main-nav__list {
    position: absolute;
    top: 0px;
    right: 0px;
} */

.site-list {
    list-style: none;
    width: 100%;
    max-width: 1440px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-list__link {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    display: block;
    margin: 0px auto;
    text-align: center;
    font-size: 18px;
    transition: 0.3s;
}

.site-list__item {
    display: block;
    width: 100%;
    /* padding: 5px 15px; */
    height: 100%;
    transition: 0.3s;
}

.main-nav:hover .site-list__item {
    padding: 5px 15px;
}

.site-list__item:hover {
    /* background-color: #54575e; */
    transition: 0.3s;
    transform: scale(1.1);
    text-shadow: 0 0 15px white;
}

@media (max-width: 768px) {
    .main-nav__wrapper {
        position: relative;
    }

    .main-nav__list_close .site-list {
        display: none;
        transition: ease-in-out 1s;
    }

    .main-nav__list_open .site-list {
        display: flex;
        flex-direction: row;
        left: 60px;
        top: -20px;
    }

    .main-nav__toggle {
        display: block;
        background-color: black;
        transform: scale(1);
        transition: 0.5s;
        content: "";
        border: none;
        width: 35px;
        height: 3px;
        box-shadow: 0 10px 0 0 rgb(0, 0, 0), 0 -10px 0 0 rgb(0, 0, 0);
    }

    .main-nav__toggle_open {
        content: "";
        border: none;
        box-shadow: none;
        transform: rotate(45deg);
        background-color: black;
        width: 35px;
        height: 3px;
        position: relative;
    }

    .main-nav__toggle_open::after {
        content: "";
        border: none;
        transform: rotate(-90deg);
        background-color: black;
        width: 35px;
        height: 3px;
        right: 0;
        position: absolute;
    }
}