.slick-slider {
    position: relative;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
    align-items: flex-start;
}

.slick-slide.slick-center {
    transition: 0.5s;
    opacity: 1;
}

.slick-arrow {
    position: absolute;
    top: 0%;
    z-index: 15;
    font-size: 0;
    max-width: 50px;
    max-height: 50px;
    width: 4vw;
    height: 4vw;
    border: none;
    padding: 0;
    background-color: transparent;
    transition: 0.3s;

}

.slick-arrow:hover {
    transform: scale(0.9);
    cursor: pointer;
    transition: 0.3s;
}

.slick-arrow:active {
    opacity: 0.3;
    transition: 0.15s;
}

.slick-arrow.slick-prev {
    left: -10%;
    background-image: url('../img/leftarrow_121320.svg');
}

.slick-arrow.slick-next {
    right: -10%;
    background-image: url('../img/rightarrow_121279.svg');
}

.slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slick-dots li {
    list-style: none;
}

.slick-dots li button {
    border: none;
    font-size: 0;
    padding: 0;
    margin-right: 10px;
    background-color: transparent;
    border: 1px solid #393e49;
    max-width: 10px;
    max-height: 10px;
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    transition: 0.15s;
}

.slick-dots .slick-active button {
    background-color: #262930;
    transition: 0.15s;

}

.slick-dots button:hover {
    background-color: #393e497d;
    border: none;
    transition: 0.15s;
}

.slider,
.slider-big {
    min-width: 0;
    max-width: 750px;
    width: 45vw;
    max-width: 730px;
    min-width: 350px;

}

.slider {
    display: flex;
    flex-direction: column;
}

.slider__item {
    width: 200px;
    align-items: center;
    transition: 0.5s;
    opacity: 0.6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider__img {
    width: 10vw;
    min-width: 300px;

}

.slider__name {
    display: none;
}

.slider-big__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slider-big__name {
    font-size: 38px;
    margin-top: 0;
}

@media(max-width:1100px) {
    .slider-big__name {
        font-size: 25px;
    }
}

@media(max-width:800px) {
    .slider-big__name {
        font-size: 15px;
    }
}

.slider-big__img {
    width: 45vw;
}

.sliders {
    width: 45vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 35px;
    margin-left: 3vw;
    max-width: 730px;
    min-width: 350px;
}